<mat-toolbar color="primary" class="navbar">
    
    <div class="logo">
      <img src="../images/logo/logo.png" alt="Logo" class="logo-img" />
    </div>
   
    <mat-tab-group class="tabs">
      <mat-tab label="Home"></mat-tab>
      <mat-tab label="Products"></mat-tab>
      <mat-tab label="Contact"></mat-tab>
    </mat-tab-group>
   
    <div class="actions">
      <button mat-button>Login</button>
      <button mat-raised-button color="accent">Register</button>
      <button mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
</mat-toolbar>
  <app-side-bar></app-side-bar>